{:kotoba.app/id "cloud.itonami.isic-6512", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicyt5h72wyrvkrku5qh3t5ofslfw3gv6sismksicwlav6u6f3s5tu", :kotoba.app/embed-url "ipfs://bafkreicyt5h72wyrvkrku5qh3t5ofslfw3gv6sismksicwlav6u6f3s5tu", :published {:archive "https://kotobase.net/ipfs/bafkreicyt5h72wyrvkrku5qh3t5ofslfw3gv6sismksicwlav6u6f3s5tu", :size 80365, :put-status 201, :get-status 200, :at "2026-08-15T13:48:23.033Z"}}
